{% extends 'SIEBundle::main.html.twig' %}

{% block title %}
	Nueva Categoria
{% endblock %}
{% block contenido %}
	<h1>Nueva Categoria</h1>
	<section>
		{{ form_start(form) }}
		{{ form_errors(form) }}
		<article>
			{{form_label(form.categoria, 'Categoría: ')}}
			{{form_widget(form.categoria)}}
			{{form_errors(form.categoria,{'attr':{'class':'bg-danger'}})}}
		</article>
		<article>
			<input class="btn btn-default" type="submit">
		</article>
		{{ form_row(form._token) }}
		{{ form_rest(form) }}
		{{ form_end(form) }}
	</section>
{% endblock %}
