{% extends 'SIEBundle::main.html.twig' %}
{% block title %}Asientos{% endblock %}
{% block contenido %}
	
	{% for asiento in asientos %}
		{% set fila = asiento.fila %}
		{% set columna = asiento.columna %}
			<article class="col-md-4">
				<h1>Sala {{asiento.sala.tiposala}}<h1>
				<table class="table table-striped">		
					{% for  noFila in 1..fila %}				
						<tr>
							<td>{{noFila}}</td>
							{% for noColumna in 1..columna %}
								<td>
									<img src="{{asset('img/butacas/butacaVacia.gif')}}" alt="{{noColumna}}">								
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
				<input class="btn btn-default" type="submit" value="Editar" onclick="window.location='{{url('asientos_edit',{'id':asiento.id})}}'">
				<input class="btn btn-default" type="submit" value="Eliminar" onclick="window.location='{{url('asientos_delete',{'id':asiento.id})}}'">
			</article>
	{% endfor %}
	<input class="btn btn-default" type="submit" value="Nuevo" onclick="window.location='{{path('asientos_new')}}'">
{% endblock %}