{% extends 'SIEBundle::main.html.twig' %}
{% block title %}Nuevos Asientos{% endblock %}
{% block contenido %}
<h1>Registro de Asientos</h1>
		{{ form_start(form) }}
		{{ form_errors(form) }}
		
			{{form_label(form.sala, 'Sala: ')}}
			{{form_errors(form.sala)}}
			{{form_widget(form.sala, {'attr': {'class': 'form-control'} })}}
		
			{{form_label(form.fila, 'Fila: ')}}
			{{form_errors(form.fila)}}
			{{form_widget(form.fila, {'attr': {'class': 'text-capitalize form-control'} })}}
		
			{{form_label(form.columna, 'Columna: ')}}
			{{form_errors(form.columna)}}
			{{form_widget(form.columna, {'attr': {'class': 'text-capitalize form-control'} })}}
		
			{{form_label(form.estado, 'Estado: ')}}
			{{form_errors(form.estado)}}
			{{form_widget(form.estado, {'attr': {'class': 'form-control'} })}}
		
			<input class="btn btn-default" type="submit">
		{{ form_row(form._token) }}
		{{ form_rest(form) }}
		{{ form_end(form) }}
{% endblock %}

			