{% extends 'SIEBundle::main.html.twig' %}
{% block title %}Nuevo Rol {% endblock %}
{% block contenido %}
	<h1>Nuevo Rol</h1>
		{{ form_start(form) }}
		{{ form_errors(form) }}
	
			{{form_label(form.role)}}
			{{form_errors(form.role)}}
			{{form_widget(form.role)}}
	
			<input class="btn btn-default" type="submit">
	
		{{ form_row(form._token) }}
		{{ form_rest(form) }}
		{{ form_end(form) }}
{%  endblock %}