{% extends 'SIEBundle::main.html.twig' %}
{% block title %}Detalle de {{proveedor.razonsocial}}{% endblock %}
{% block contenido %}
	<h1>Detalle de {{proveedor.razonsocial}} </h1>
		<h2>
			<p class="text-center">
				<label class="">Razon Social: {{proveedor.razonsocial}}</label><br><br>
			</p>
			<p class="text-center">
				<label>Apellidos: {{proveedor.rfc}}</label><br><br>
			</p>
			<p class="text-center">
				<label>CURP: {{proveedor.direccion}}</label><br><br>
			</p>
			<p class="text-center">
				<label>Email: {{proveedor.telefono}}</label><br><br>				
			</p>
		</h2>	
		<input class="btn btn-default" type="submit" value="Regresar" onclick="window.location='{{path('proveedores')}}'">		
{% endblock %}