<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url('sie_homepage')}}">CINE CLUB</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Empleados <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url('empleados_new')}}">Nuevo</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cartelera<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url('cartelera')}}">Todos</a></li>
            <li><a href="{{url('cartelera_new')}}">Nuevo</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Peliculas<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url('peliculas')}}">Todas</a></li>
            <li><a href="{{url('peliculas_new')}}">Nuevo</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Taquilla<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url('taquilla_new')}}">Nuevo</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalogos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url('asientos')}}">Asientos</a></li>
            <li><a href="{{url('boletos')}}">Boletos</a></li>
            <li><a href="{{url('categorias')}}">Categorías</a></li>
            <li><a href="{{url('edo_asiento')}}">Estado de los Acientos</a></li>
            <li><a href="{{url('funciones')}}">Funciones</a></li>
            <li><a href="{{url('puestos')}}">Puestos</a></li>
            <li><a href="{{url('productos')}}">Productos</a></li>
            <li><a href="{{url('proveedores')}}">Proveedores</a></li>            
            <li><a href="{{url('roles')}}">Roles</a></li>            
            <li><a href="{{url('salas')}}">Salas</a></li>
          </ul>
        </li>
        <li><a href="{{url('logout')}}">Logout</a></li>
        <li>
          <!--a class="text-capitalize">
            {% if app.user %}
              {{ app.user.username }} 
            {% endif %}
          </a-->
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>