{% extends 'SIEBundle::main.html.twig' %}
{% block title %}Alta de Estatus {% endblock %}

{% block contenido %}
	<h1>Alta de Estatus</h1>
		{{ form_start(form) }}
		{{ form_errors(form) }}
		
			{{form_label(form.estatus, 'Estatus: ')}}
			{{form_widget(form.estatus)}}
			{{form_errors(form.estatus)}}
		
		
			<input class="btn btn-default" type="submit">
		{{ form_row(form._token) }}
		{{ form_rest(form) }}
		{{ form_end(form) }}
{% endblock %}