{% extends 'SIEBundle::main.html.twig' %}
{% block title %}
	Productos
{% endblock %}
{% block contenido %}
	<h1>Listado de productos</h1>
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Cantidad</th>
			<th>Costo</th>
			<th>Precio</th>
			<th>Proveedor</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
		{% for productos in producto %}
			<tr>
				<td>{{productos.id}}</td>
				<td>{{productos.nombre}}</td>
				<td>{{productos.descripcion}}</td>
				<td>{{productos.cantidad}}</td>
				<td>${{productos.costo}}</td>
				<td>${{productos.precio}}</td>
				<td>{{productos.proveedor.razonsocial}}</td>
				<td><a href="{{url('productos_edit',{'id': productos.id})}}">Editar</a></td>
				<td><a href="{{url('productos_delete',{'id': productos.id})}}">Eliminar</a></td>
			</tr>
		{% endfor %}
	</table>
	<input class="btn btn-default" type="input" value="Nuevo" onclick="window.location='{{path('productos_new')}}'">
{% endblock %}