{% extends 'SIEBundle::main.html.twig' %}
{% block title %}Tipos de Boletos{% endblock %}
{% block contenido %}
<article>
	<h1>Tipos de Boletos</h1>
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Tipo de Boleto</h>
			<th>Precio</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
		{% for boleto in boleto %}
			<tr>
				<td>{{boleto.id}}</td>
				<td>{{boleto.tipoboleto}}</td>
				<td>${{boleto.precio}}</td>
				<td><a href="{{url('boletos_edit',{'id': boleto.id})}}">Editar</a></td>
				<td><a href="{{url('boletos_delete',{'id': boleto.id})}}">Eliminar</a></td>
			</tr>
		{% endfor %}
	</table>
	<input class="btn btn-default" type="submit" value="Nuevo" onclick="window.location='{{path('boletos_new')}}'">
</article>
{% endblock %}