{% extends 'SIEBundle::main.html.twig' %}
{% block title %}Tipo de Estados de Asientos{% endblock %}
{% block contenido %}
<article>
	<h1>Tipos de Asientos</h1>
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Tipo de Estados de Asiento</h>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
		{% for edo in edo %}
			<tr>
				<td>{{edo.id}}</td>
				<td>{{edo.estado}}</td>
				<td><a href="{{url('edo_asiento_edit',{'id': edo.id})}}">Editar</a></td>
				<td><a href="{{url('edo_asiento_delete',{'id': edo.id})}}">Eliminar</a></td>
			</tr>
		{% endfor %}
	</table>
	<input class="btn btn-default	" type="submit" value="Nuevo" onclick="window.location='{{path('edo_asiento_new')}}'">
</article>
{% endblock %}