{% extends 'SIEBundle::main.html.twig' %}
{% block title %}Editar {{edo.estado}}{% endblock %}
{% block contenido %}
<h1>Editar {{edo.estado}}</h1>

	{{ form_start(form) }}
	{{ form_errors(form) }}
	
		{{form_label(form.estado, 'Estado: ')}}
		{{form_errors(form.estado)}}
		{{form_widget(form.estado)}}

		<input class="btn btn-default" type="submit">

	{{ form_row(form._token) }}
	{{ form_rest(form) }}
	{{ form_end(form) }}

{% endblock %}