{% extends 'SIEBundle::main.html.twig' %}
{% block title %}Estado de Asientos {% endblock %}
{% block contenido %}
<h1>Registro de Estado de los Asientos</h1>
		{{ form_start(form, {'action': path('edo_asiento_new'), 'method': 'POST'}) }}
		{{ form_errors(form) }}
		
			{{form_label(form.estado, 'Estado: ')}}
			{{form_errors(form.estado)}}
			{{form_widget(form.estado, {'attr': {'class': 'form-control'}})}}
		
			<input class="btn btn-default" type="submit">

		{{ form_row(form._token) }}
		{{ form_rest(form) }}
		{{ form_end(form) }}
{% endblock %}