{% extends 'SIEBundle::main.html.twig' %}
{% block title %}Catalogo de Puestos{% endblock %}
{% block body %} 
<article>
	<h1>Catalogo de Puestos</h1>
	<table class="header">
		<tr><th>ID</th>
			<th>Puesto</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
		{% for puesto in puesto %}
			<tr>
				<td>{{puesto.id}} </a></td>
				<td>{{puesto.puesto}}</a></td>
				<td><a href="{{url('puesto_edit',{'id':puesto.id})}}">Editar</a></td>
				<td><a href="{{url('puesto_delete',{'id':puesto.id})}}">Eliminar</a></td>					
			</tr>
		{% endfor %}
	</table>
	<input type="submit" value="Nuevo" onclick="window.location='{{path('puesto_nuevo')}}'">
</article>
 {% endblock %}