{% extends 'SIEBundle::main.html.twig' %}
{% block title %}Editar Tipo de Audio {% endblock %}

{% block contenido %}
	<h1>Editar el Tipo de Audio</h1>
		{{ form_start(form) }}
		{{ form_errors(form) }}
		
			{{form_label(form.audio, 'Audio: ')}}
			{{form_widget(form.audio)}}
			{{form_errors(form.audio)}}
		
		
			<input class="btn btn-default" type="submit">
		{{ form_row(form._token) }}
		{{ form_rest(form) }}
		{{ form_end(form) }}
{% endblock %}