{% extends 'SIEBundle::main.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{asset('css/pelis.css')}}">
{%	 endblock %}
{% block title %}Peliculas{% endblock %}
{% block contenido %}
	{% for peliculas in peliculas %}
		<article class="col-md-4">
			<article class="panel panel-primary">
				<img class="img-thumbnail" src="{{peliculas.imagen}}" alt="200x200" >	
				<h3>
					<label class="label label-primary">{{peliculas.titulo}}</label>
					<label class="label label-primary">{{peliculas.categoria.categoria}}</label>
					<label class="label label-primary">{{peliculas.descripcion}}</label>
					<label class="label label-primary">{{peliculas.duracion}}</label>
					<label class="label label-primary">{{peliculas.sala.tiposala}}</label>
				</h3>
			</article>
		</article>
	{% endfor %}
{% endblock %}