{% extends 'SIEBundle::main.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{asset('css/pelis.css')}}">
{%	 endblock %}
{% block title %}Peliculas{% endblock %}
{% block contenido %}
	{% for peliculas in peliculas %}
		<article class="col-md-6">
			<article id="text">
				<label >{{peliculas.titulo}}</label>
				<label >{{peliculas.categoria.categoria}}</label>
				<label >{{peliculas.duracion}}</label>
				<label >{{peliculas.sala.tiposala}}</label>
				<label >{{peliculas.descripcion}}</label>
				<input class="btn btn-default" type="submit" value="Editar" onclick="window.location='{{url('peliculas_edit',{'id': peliculas.id})}}'">				
			</article>	
			<article id="pel">
				<img src="{{peliculas.imagen}}" alt="200x200">					
			</article>
		</article>
	{% endfor %}
{% endblock %}